aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
async-timeout
attrs
certifi
frozenlist
idna
magic-filter
marshmallow
multidict
packaging
pydantic
pydantic_core
python-dotenv
typing_extensions
validators  
yarl